@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: mermaid;
    src: url(Mermaid1001.ttf);
}
.mainheight{

    min-height: 100vh;
}
.nav-link{
    color: gray !important;
    font-family: mermaid;
    transition: .3s all linear;
}
.nav-link:hover{

    color: black !important;
    transition: .3s all linear;
}
.img-con{

    background: url(culture-espresso-38-street.jpg);
    background-size: cover;
}
.img-con2{

    background: url(culture-307.jpg);
    background-size: cover;
}
.img-con3{

    background: url(culture-36.jpg);
    background-size: cover;
}
p{

    font-family: "Poppins";
}
.butun{

    border: none;
    font-family: 'Poppins';
    color: white !important;
    background-color: #a89454;
    transition: .3s all linear;
}
.butun:hover{

    border: none;
    font-family: 'Poppins';
    background-color: #8d7b40;
    transition: .3s all linear;
}
.pic-1{

    height: 300px;
    background: url(image-asset.jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-2{

    height: 300px;
    background: url(image-asset\ \(1\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-3{

    height: 300px;
    background: url(image-asset\ \(2\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-4{

    height: 300px;
    background: url(image-asset\ \(3\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-5{

    height: 300px;
    background: url(image-asset\ \(4\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-6{

    height: 300px;
    background: url(image-asset\ \(5\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-7{

    height: 300px;
    background: url(image-asset\ \(6\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-8{

    height: 300px;
    background: url(image-asset\ \(7\).jpeg);
    background-size: 100%;
    background-position: center;
}
.pic-9{

    height: 300px;
    background: url(image-asset\(8\).jpg);
    background-size: 100%;
    background-position: center;
    
}

.cc{

    background-size: 100%;
    transition: .3s all linear;
}
.cc:hover{

    background-size: 120% !important;
    transition: .3s all linear;
}
